<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:component-scan base-package="com.zhyfoundry.crm" />
	<tx:annotation-driven />

	<!-- 这个配置只能在全局出现一次 -->
	<context:property-placeholder
		location="classpath:jdbc.properties,classpath:dbcp.properties" />

	<import resource="applicationContext-datasource.xml" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="ApplicationResources" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>

	<bean id="configurationLoader"
		class="org.springmodules.validation.bean.conf.loader.annotation.AnnotationBeanValidationConfigurationLoader" />
	<bean id="validator" class="org.springmodules.validation.bean.BeanValidator">
		<constructor-arg ref="configurationLoader" />
	</bean>

</beans>
