<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%l] %m%n" />
		</layout>
	</appender>

    <appender name="NEED_NOTICE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/logs/ERROR.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="2" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d -%p- %c:%L %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="MAIL" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/logs/MAIL.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="2" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d -%p- %c:%L %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"><!-- TODO logger name filter -->
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>

	<logger name="org.springframework.aop.framework.Cglib2AopProxy">
		<level value="ERROR" />
	</logger>

	<logger name="com.zhyfoundry.crm">
		<level value="DEBUG" />
	</logger>
	<logger name="org.claros">
		<level value="DEBUG" />
	</logger>

	<root>
	    <level value="MAIL"/>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="MAIL" />
		<appender-ref ref="NEED_NOTICE" />
	</root>

</log4j:configuration>
